body {
    margin: 0;
}
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
 

.header {
    position: fixed;
    height: 2.75rem;
    background-color: #5fc0cd;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-box {
    background-color: #55a8b3;
    border-radius: 0.625rem;
}

.button-style {
    width: 50%;
    height: 2.18rem;
    outline: none;
    border-radius: 0.625rem;
    font-size: 1rem;
    border: none;
}

.button1 {
    color: #fff;
    background-color: #55a8b3;
}

.button2 {
    color: #5fc0cd;
    background-color: #fff;
}
.location {
    position: absolute;
    right: 1rem;
    width: 1.3rem;
}
.blank-box1 {
    height: 2.75rem;
}
    

.down-list {
    list-style: none;
    display: flex;
    height: 2.5rem;
    justify-content: center;
   
    
} 
.list {
    line-height: 2.5rem;
    width: 33.3%;
    text-align: center;
    position: relative;
}
.hide {
    display: none; 
    position: absolute;
    width: 100%;
    text-align: center;
    
}    
.list:hover>ul {
    display: block;
}