body {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
.flex {
  display: flex;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
