header strong {
  float: left;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  border-bottom: solid #ccc 1px;
  background: #232a3a;
}
header span {
  color: blue;
}
header div {
  float: right;
  height: 50px;
  line-height: 50px;
}
header div img {
  width: 15px;
  height: 15px;
  margin-right: 20px;
}
header div span {
  margin-right: 20px;
}
header div span a::after {
  content: "";
  border-right: #e8e8e8 solid  2px;
  margin-left: 15px;
}
header::after {
  content: "";
  clear: both;
  display: table;
}
ul,
li {
  outline: none;
  list-style: none;
  margin: 0 !important;
  padding: 0;
}
.menu {
  float: left;
  width: 250px;
  height: calc(100vh - 50px);
  color: #fff;
  background: #232a3a;
}
.menu div {
  position: relative;
  line-height: 40px;
  font-size: 0;
}
.menu div:hover {
  background: rgba(255, 255, 255, 0.4);
}
.menu div span {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}
.menu img {
  width: 16px;
  height: 16px;
  margin: 0 20px;
  vertical-align: middle;
}
.menu li li {
  font-size: 14px;
}
.menu li li:hover {
  background: rgba(255, 255, 255, 0.4);
}
.menu i {
  position: absolute;
  top: 50%;
  left: 200px;
  width: 10px;
  height: 10px;
  border-bottom: solid #fff 2px;
  border-left: solid #fff 2px;
  transform: translateY(-50%) rotate(45deg);
}
.menu ul {
  overflow: hidden;
  text-align: center;
}
.menu ul li {
  height: 40px;
  line-height: 40px;
  transition: height .3s;
}
.color {
  background: rgba(255, 255, 255, 0.4);
}
.show {
  height: 0 !important;
}
.content {
  float: left;
  width: calc(100% - 250px);
  height: calc(100vh - 50px) ;
  padding: 30px 30px 0 30px;
  background: #f5f5f5;
}
.artical {
  background: #fff;
  padding-top: 10px;
  margin-bottom: 30px;
}
.artical i {
  content: "";
  display: table;
  clear: both;
}
.artical div {
  float: left;
  width: 33.3%;
  height: 50px;
}
.artical span {
  float: left;
  display: block;
  width: 35%;
  padding: 5px;
  font-weight: 700;
  text-align: center;
}
.artical input {
  float: left;
  width: 60%;
  padding: 5px;
  outline: none;
  border: #ccc 1px solid;
  border-radius: 5px;
}
.artical .button-box {
  display: flex;
  float: none;
  width: 100%;
  justify-content: flex-end;
}
.artical .button-box button {
  width: 60px;
  height: 35px;
  color: #fff;
  margin-right: 2%;
  background: #66a766;
  border: none;
  border-radius: 5px;
}
.artical + div div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background: #ddd;
}
.artical + div div:first-child button {
  color: #fff;
  background: #66a766;
  border: none;
  border-radius: 5px;
}
.artical + div div:nth-child(2) {
  background: #fff;
  padding: 2%;
}
