.all {
  overflow: hidden;
  min-height: 100vh;
}
header strong {
  float: left;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  border-bottom: solid #ccc 1px;
  background: #232a3a;
}
header span {
  color: blue;
}
header div {
  float: right;
  height: 50px;
  line-height: 50px;
}
header div img {
  width: 15px;
  height: 15px;
  margin-right: 20px;
}
header div span {
  margin-right: 20px;
}
header div span a::after {
  content: "";
  border-right: #e8e8e8 solid  2px;
  margin-left: 15px;
}
header::after {
  content: "";
  clear: both;
  display: table;
}
ul,
li {
  outline: none;
  list-style: none;
  margin: 0 !important;
  padding: 0;
}
.ulbox {
  width: 250px;
  float: left;
  padding-bottom: 3000px;
  margin-bottom: -3000px;
  background: #232a3a;
}
.menu {
  color: #fff;
}
.menu div {
  position: relative;
  line-height: 40px;
  font-size: 0;
}
.menu div:hover {
  background: rgba(255, 255, 255, 0.4);
}
.menu div span {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}
.menu img {
  width: 16px;
  height: 16px;
  margin: 0 20px;
  vertical-align: middle;
}
.menu li li {
  font-size: 14px;
}
.menu li li:hover {
  background: rgba(255, 255, 255, 0.4);
}
.menu i {
  position: absolute;
  top: 50%;
  left: 200px;
  width: 10px;
  height: 10px;
  border-bottom: solid #fff 2px;
  border-left: solid #fff 2px;
  transform: translateY(-50%) rotate(45deg);
}
.menu ul {
  overflow: hidden;
  text-align: center;
}
.menu ul li {
  height: 40px;
  line-height: 40px;
  transition: height .3s;
}
.color {
  background: rgba(255, 255, 255, 0.4);
}
.show {
  height: 0 !important;
}
.content {
  float: left;
  width: calc(100% - 250px);
  min-height: calc(100vh - 50px) ;
  padding: 30px 30px 0 30px;
  background: #f5f5f5;
}
