body {
    font-size: 62.5%;    
    background-color: #68cdd5;
    margin: 0;
}

.boult {
    margin: 1em 0 0 1.75em;
}

.picture {
    display: block;
    width: 2.7em;
}

.box {
    text-align: center;
    margin: 2.1em 0;
}

.header {
    width: 9.05em;
    height: 3.5em;
}

.explain {
    width: 70%;
    margin: 3.78rem auto 6.34rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.69rem;
    letter-spacing: 0.03rem;
}


.logo-picture {
    position: absolute;
    left: 25%;
    transform: translate(-50%,0);
    width: 4.2em;
}

.name {
    position: absolute;
    left: 25%;
    transform: translate(-50%,0);
    color: #ffffff;
    line-height: 0.79rem;
    letter-spacing: 0.03rem;
    font-size: 0.75rem;
    margin-top: 4em;
}


.other-picture {
    position: absolute;
    transform: translate(50%,0);
    right: 25%;
    width: 4.2em;
    
   
}

.english-name {
    position: absolute;
    right: 25%;
    transform: translate(50%,0);
    color: #ffffff;
    line-height: 0.79rem;
    letter-spacing: 0.03rem;
    font-size: 0.75rem;
    margin-top: 4em;
}
